%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors
 ]
}.

{cover_enabled, true}.

{deps, [
        {folsom, ".*",
         {git, "https://github.com/SiftLogic/folsom",
          {branch, "feat/P6-2227-upgrade-folsom-otp-20"}}}
       ]
}.

{maintainers, ["Paul Oliver"]}.
